/* h1 {
    text-align: center;
    padding: 0 0 0 20px;

}
.container {
    margin: 100px;
    padding: 50px 0 50px 0;
}
#reddisk {
    border: 1px solid red;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.blackdisk {
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
td {
    border: 10px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

#reddisk:hover {
    background: red;
}

#blackdisk:hover {
    background: black;
}

table {
    margin: auto;
} */
h1 {
    
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
 .disks {
    height: 100px;
    z-index: 3;
}

.blackball {
    width: 50px;
    height: 50px;
    border: solid 0px black;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}

.redball {
    width: 50px;
    height: 50px;
    border: solid 0px red;
    border-radius: 50%;
    z-index: 2;
    background-color: red;
}

.resetbutton {
    width: 30px;
    margin: auto;
    text-align: center;
}

#wholething {
    margin: 20px;
}

.container {
    display: inline-flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid blue;
    height: 500px;
    width: 90px;
    margin: 0;
    padding: 0;
    

}

  /* .flex-container {
    padding: 0;
    margin: 10px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
     flex-direction: column-reverse; 
     -webkit-flex-flow: row; 
    justify-content: space-around;
   
    line-height:30px;
}
.flex-item {
    background: blue;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
    border-radius: 20px;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}     */
